@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base para el modo oscuro/claro */
:root {
  --color-bg-light: #f9fafb;
  --color-bg-dark: #e9e9e9;
}

body {
  @apply bg-gray-50 dark:bg-primary-900;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Autofill fix */
input.ant-input:-webkit-autofill,
input.ant-input-password input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #0f172a inset !important;
  -webkit-box-shadow: 0 0 0 1000px #0f172a inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
  border-radius: 0.5rem;
  transition: background-color 9999s ease-in-out 0s;
}

input.ant-input:-webkit-autofill,
input.ant-input-password input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

/* Estilos AntD custom con Tailwind */
@layer components {
  .ant-col > label {
    @apply font-bold;
  }

  .dark .ant-col > label {
    @apply text-white font-bold;
  }

  /* .ant-select {
    @apply h-10;
  } */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none m-0;
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
  /* .ant-picker {
    @apply rounded-lg;
  } */

  .ant-modal-content {
    @apply dark:bg-primary-900 rounded-lg dark:text-white;
  }

  .ant-input {
    @apply rounded-lg;
  }

  .ant-input:focus,
  .ant-input-focused {
    @apply ring-2 ring-primary-500 border-primary outline-none;
  }

  .ant-input-disabled {
    @apply bg-primary-500 text-white dark:bg-primary-900 dark:text-white;
  }

  .ant-btn {
    @apply border-none shadow-none p-0 m-0 dark:text-white hover:text-primary bg-transparent hover:bg-transparent;
  }

  .ant-form-item-label {
    @apply text-primary dark:text-white;
  }

  .ant-form-item-required {
    @apply text-primary dark:text-white;
  }

  .ant-tooltip-inner {
    @apply bg-primary-500 text-white dark:bg-primary-500 dark:text-white;
  }

  .ant-tooltip-arrow::before {
    @apply bg-primary-500 dark:bg-primary-500;
  }

  .ant-modal-mask {
    @apply backdrop-blur-lg; /* más blur + algo de oscuridad */
  }

  .ant-radio-group {
    @apply !w-full !important;
  }
  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
    @apply !bg-primary-900 !text-white border-t-transparent border-l-transparent border-r-transparent !important;
  }

  .ant-segmented-group {
    @apply gap-2 !important;
  }
  .ant-segmented {
    @apply w-full p-2  !important;
  }
  .ant-segmented-item {
    @apply w-1/2 text-xl p-2 hover:bg-primary-300 transition-all ease-in-out duration-500 font-semibold !important;
  }
  .ant-segmented-item-selected {
    @apply !bg-primary-900 !text-white hover:bg-primary-900 hover:cursor-not-allowed !important;
  }
}

/* AntD con !important o restricciones especiales */
.ant-message-notice-content {
  background-color: #00adb4 !important;
  color: #ffffff;
}

.ant-btn,
.ant-btn:focus,
.ant-btn:active,
.ant-btn:focus-visible,
.ant-btn-icon-only,
.ant-btn-icon-only:focus,
.ant-btn-icon-only:active,
.ant-btn-icon-only:focus-visible {
  box-shadow: none !important;
  outline: none !important;
}

.ant-btn::after,
.ant-btn-icon-only::after {
  display: none !important;
  animation: none !important;
  background: transparent !important;
  box-shadow: none !important;
  content: none !important;
}

.ant-wave,
.ant-wave::after,
.ant-wave::before {
  display: none !important;
}

